.mainNavbar {
  /* margin-bottom: 2rem; */
  scroll-snap-align: start;
  border-bottom: 0.8px solid #f2a900;
  color: #fff;
  /* font-family: 'Open Sans', sans-serif; */
  box-shadow: 0px 2px 4px -1px rgba(255, 255, 255, 0.2), 0px 4px 5px 0px rgba(255, 255, 255, 0.14), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.mainNavbar a {
  letter-spacing: 3px;
}

.mainNavbar header {
  box-shadow: 0px 2px 4px -1px rgba(255, 255, 255, 0.2), 0px 4px 5px 0px rgba(255, 255, 255, 0.14), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.name {
  display: flex;
  margin: 0;
}

.text {
  text-align: right;
  margin: auto;
}

.name div {
  /* margin: auto; */
}

.youtubeImg {
    /* background-color: #dedede; */
    border-radius: 1rem;
    width: 27px;
    height: 27px;
    display: flex;
    /* position: absolute; */
    color: #fff;
}

.youtubeImg img {
  filter: grayscale(10%);
  width: 100px;
  width: 33px;
  height: 33px;
  position: absolute;
  left: 8px;
  top: 3px;
}

.tiktokImg {
    /* background-color: #dedede; */
    border-radius: 1rem;
    width: 27px;
    height: 27px;
    display: flex;
    /* position: absolute; */
    color: #fff;
}

.tiktokImg img {
  filter: grayscale(10%);
  width: 100px;
  width: 26px;
  height: 26px;
  position: absolute;
  left: 8px;
  top: 7px;
}

.name button {
  margin: auto;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}
  
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
  
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.navbarIcons {
  text-align: center;
  width: 100%;
}

.navbarIcons button {
  color: #fff;
  max-width: 64px;
  width: 100%;
}

.navbarIcons svg{
  width: 3rem;
  height: 2rem;
}
.navItems {
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  width: 100%;
}

.cta {
  margin: 0;
}


@media (max-width: 650px) {
  .text {
    margin-top: 0.3rem;
  }

  .cta {
    /* margin: 0; */
    position: absolute;
    right: 0;
  }
}

@media (max-width: 360px) {
  .navbarIcons {
    /* width: 70%; */
  }
  .navbarIcons svg{
    width: 2.5rem;
    /* height: 2rem; */
  }
}
