.container {
  padding: 0 2rem;
}
.navbar {
  margin-bottom: 1rem;
}
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContent {
  max-width: 1400px;
  min-height: 250px;
  width: 100%;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-radius: 14px;
  background-color: #271a06;
  border-color: navajowhite;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  margin: auto;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 2rem;
}

.secContent {
  max-width: 1400px;
  min-height: 250px;
  width: 100%;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-radius: 14px;
  background-color: #140e03;
  border-color: navajowhite;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  margin: auto;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 2rem;
}

.tContent {
  max-width: 1400px;
  min-height: 250px;
  width: 100%;
  display: flex;
  /* border-style: solid; */
  /* border-width: 1px; */
  /* border-radius: 14px; */
  /* background-color: #f4dcb5; */
  /* border-color: navajowhite; */
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  margin: auto;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 2rem;
}

.tf {
  border-width: 4px;
  width: 150px;
  height: 150px;
  border-color: #f4dcb5;
  z-index: 99999;
  border-style: solid;
  border-radius: 100%;
  margin: auto;
  display: flex;
}

.ts {
  border-width: 4px;
  width: 150px;
  height: 150px;
  border-color: #f4dcb5;
  z-index: 99999;
  border-style: solid;
  border-radius: 100%;
  margin: auto;
  display: flex;
}
.tsText {
  margin: auto;
}
.tfText {
  margin: auto;
}
.titleContainer {
  margin: auto;
  display: flex;
}

.imageContainer {
  display: flex;
  margin: auto;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
